@model IEnumerable<Super_Cartes_Infinies.Models.Match>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IsPlayerATurn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventIndex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsMatchCompleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WinnerUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserBId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IsPlayerATurn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventIndex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsMatchCompleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WinnerUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserBId)
            </td>
                <td>
                <form asp-action="Delete">
                    <input type="hidden" name="id" value="@item.Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </form>
                </td>
        </tr>
}
    </tbody>
</table>
